/* Sticky CSS Footer */
html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-top: 2.0em; padding-bottom: 250px; }
#footer { clear: both; position: relative; z-index: 10; height: 150px; margin-top: -150px; padding-top: 20px;}

#header {
    background: #def;
    border-top: 3px solid #7ac;
}

#footer {
    background: #f7f7f7;
    border-top: 1px solid #eee;
    font-size: 0.7em;
    color: #666;
}

.search-form {
    text-align: center;
}

.result-list {
    margin: 15px 10px;
}

.result-list li {
    margin: 5px;
}

.no-results-message {
    margin-top: 10px;
    display: none;
}

.error {
    display: none;
}
