<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="wrapper">
  <div id="header">
    <div class="container">
      <div class="row">
        <h1 class="col-lg-10 col-lg-offset-1"></h1>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

          <div class="page-header">
            <h1>Search for cookiecutter templates <small><a href="https://github.com/audreyr/cookiecutter#cookiecutter" target="_blank">what is cookiecutter?</a></small></h1>
          </div>

          <form id="search-template-form" class="search-form" role="form">
            <div class="form-group">
              <input type="search" class="form-control" id="search-term" placeholder="Search for template, eg django">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="go">Search</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="alert alert-info no-results-message">No templates found... Want to <a href="http://cookiecutter.readthedocs.org/en/latest/tutorial2.html" target="_blank">create a new template?</a></div>

          <div class="alert alert-danger error"></div>

          <ul id="results" class="result-list"></ul>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="footer"><div class="container"><div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <a href="#" class="pull-right">back to top</a>
  </div>
</div></div></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56546108-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
